.banner {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 25px 0;
  background-color: #f8f8f8;
  flex-wrap: wrap;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    svg {
      font-size: 100px;
      cursor: pointer;
      &:hover {
        color: #8019c8;
      }
    }
    h3 {
      text-transform: uppercase;
    }
  }
}

.second-aboutus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 4% 0;
  .img-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 20px;
    .img1 {
      width: 60%;
      margin-bottom: 10%;
      background-color: #f8f8f8;
      img {
        margin-bottom: 20%;
        width: 100%;
        object-fit: cover;
      }
    }
    .img2 {
      width: 60%;
      margin-top: 10%;
      background-color: #f8f8f8;
      img {
        margin-top: 20%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 500px;
    h2 {
      font-size: 32px;
      text-transform: capitalize;
    }
    button {
      width: fit-content;
      outline: 0;
      border: 0;
      cursor: pointer;
      color: white;
      font-size: 18px;
      padding: 12px 40px;
      background-color: #8019c8;
    }
  }
}


@media only screen and (max-width:900px){
    .second-aboutus{

        .about-content{
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}